@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black; /* Light background */
  --foreground: #111827; /* Dark text */
}

/* Remove spinner controls in Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner controls in Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.no-select {
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.draggable {
  touch-action: none; /* Prevents touch scrolling during dragging */
  -webkit-user-drag: none; /* Prevents dragging behavior */
  user-select: none; /* Prevents accidental text selection */
}

.add-measure {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 46%;
}
.measure-label-child {
  display: flex;
  margin-left: 0.5rem;
  width: clamp(2rem, 5rem, 45%);
  height: 2.25rem; /* Stack button wrappers */
  justify-content: space-between; /* Ensures equal spacing */
  align-items: center;
}

.measure-label-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: clamp(5rem, 10rem, 100%);
  padding-bottom: 0.5rem;
}
.measure-display-parent {
  gap: 0rem;
  list-style: none;
  height: 100%;
  width: 100%;
  bottom: 0;
  display: flex column;
  font-size: 0.875rem;
  scrollbar-width: thin;
  scrollbar-color: #111827 #f3f4f6;
}

.note {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 3rem;
  max-width: 3rem;
  background-color: #1357ea;
  border: 1px solid black;
  color: white;
  font-size: 0.875rem;
  cursor: pointer;
}

.category-selection {
  border-radius: 0.25rem;
  width: 8rem;
  padding: 0.125rem;
  background-color: rgba(57, 201, 133, 0.08);
  display: flex;
  flex-direction: column;
  gap: 0rem;
  margin-bottom: 0rem;
  border-right: 0.1rem solid rgba(93, 148, 125, 0.57);
}

.category-button {
  margin: 0.25rem;
  padding: 0.125rem 0.5rem;
  background-color: rgba(155, 231, 199, 0.92);
  cursor: pointer;
  border: 0.05rem solid rgba(73, 99, 90, 0.959);

  border-radius: 5px;
  box-shadow: 0rem 0rem 0.25rem 0.1rem rgba(242, 245, 244, 0.659);
  transition: background 0.25s;
}
.category-button-close {
  margin: 0.25rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding: 0.25rem 0.5rem;
  background-color: rgba(203, 22, 100, 0.32);
  cursor: pointer;
  border: 0.05rem solid rgba(203, 22, 100, 0.92);
  border-radius: 5px;
  box-shadow: 0rem 0rem 0.25rem 0.1rem rgba(242, 245, 244, 0.659);
  transition: background 0.25s;
}

.category-button-close:hover {
  background-color: rgba(203, 22, 100, 0.92);
  color: white;
  transition: background 0.25s;
}

.category-button:hover {
  background-color: rgba(84, 120, 106, 0.859);
  color: white;
  transition: background 0.25s;
}

.category-button-loading.selected {
  margin-right: 0.25rem;
  padding: 0rem 0.125rem;
  background-color: rgba(98, 147, 237, 0.62);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 0.125rem solid rgba(123, 139, 133, 0.42);
  border-radius: 5px;
  transition: background 0.6s;
  animation: flash 2s infinite;
}

.category-button.selected {
  background-color: rgba(98, 147, 237, 0.92);
  color: white;
  font-weight: bold;
}

.instrument-selection {
  padding: 0.125rem;
  padding-bottom: 0.25rem;
  min-width: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.instrument-button {
  margin: 0.25rem 1rem 0rem 1rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 0.25rem;
  background-color: #fff;
  border-radius: 0.25rem;
  transition: background 0.2s;
}

.instrument-button-loading {
  margin-right: 0.25rem;
  padding: 0rem 0.125rem;
  background-color: #ffffff53;
  color: grey;
  border-radius: 0.25rem;
}

.instrument-button.selected-instrument {
  background-color: rgba(
    138,
    58,
    177,
    0.959
  ); /* Green highlight for selected instrument */
  color: white;
  font-weight: bold;
}

.instrument-button:hover {
  background-color: rgba(226, 173, 241, 0.927);
  color: white;
}
.instrument-button.selected-instrument:hover {
  background-color: #a362f9;
}

.instrument-container {
  position: absolute;
  display: flex;
  top: 100%;
  flex-direction: row;
  margin-right: 0.5rem;
  background-color: rgb(254, 254, 254);
  border: 0.1rem solid rgba(93, 148, 125, 0.57);
  filter: drop-shadow(0.5rem 0.5rem 0.55rem rgba(93, 148, 125, 0.57));
  border-radius: 0.25rem;
  animation: loaded 0.15s 1;
  z-index: 6;
}
.note-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 100%;
  filter: drop-shadow(0.5rem 0.5rem 0.55rem rgba(93, 148, 125, 0.57));
  flex-direction: row;
  background-color: rgb(254, 254, 254);
  border-radius: 0.25rem;
  animation: loaded 0.15s 1;
  border: 0.25rem solid rgba(93, 148, 125, 0.97);
  z-index: 6;
  width: 90%;
  max-width: 20rem;
  height: 20rem;
}

.note-chords-container {
  display: flex;
  flex-direction: column;
  width: clamp(10rem, 12rem, 30%);
  border: 0.25rem solid rgba(93, 148, 125, 0.97);
  border-right: 0.25rem solid rgba(93, 148, 125, 0.97);
  border-top-left-radius: 0.125rem;
}

.chord-button {
  box-sizing: border-box;
  width: 100%;
  height: clamp(2rem, 3rem, 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(51, 54, 53, 0.949);
}
.open-chord {
  background-color: rgba(14, 83, 54, 0.344);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: black;
  cursor: pointer;
  letter-spacing: 0.025rem;
}

.open-chord-cancel {
  background-color: rgba(52, 81, 65, 0.523);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  cursor: pointer;
}

.open-chord-cancel:hover {
  background-color: rgba(93, 148, 97, 0.923);
  color: white;
}

.open-chord:hover {
  background-color: rgba(27, 156, 102, 0.77);
  color: white;
}

.open-chord.selected {
  background-color: rgba(36, 108, 78, 0.77);
  color: white;
  font-weight: bold;
}

.remove-chord {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 2rem;
  background-color: rgba(51, 111, 94, 0.852);
  color: white;
  cursor: pointer;
  border-right: 1px solid black;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}

.remove-chord.delete {
  background-color: rgba(178, 84, 84, 0.823);
  color: white;
}

.remove-chord:hover {
  background-color: rgba(95, 150, 135, 0.852);
  color: red;
}

.remove-chord.delete:hover {
  background-color: rgba(178, 84, 84, 0.823);
  color: red;
}

.note-chords {
  background-color: #fff;
}

.note-input {
  background-color: rgba(93, 148, 125, 0.37);
  width: 100%;
  height: clamp(1rem, 2rem, 4rem);
  border-bottom: 1px solid black;
  letter-spacing: 0.2rem;
}

.note-input:hover {
  background-color: rgba(51, 111, 94, 0.497);
}

.note-input.selected {
  background-color: rgba(16, 109, 71, 0.633);
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  border: 1px solid rgb(0, 0, 0);
  border-top: transparent;
}

.instrument-container-children {
  display: flex;
}

.pick-notes-container {
  display: flex;
  flex-direction: column;
  width: clamp(2rem, 5rem, 30%);
  height: 100%;
  justify-content: center;
  border: 0.25rem solid rgba(93, 148, 125, 0.97);
  border-left: transparent;
}
.pick-notes {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(14, 83, 54, 0.344);
  border: 1px solid black;
  color: rgb(60, 37, 26);
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.pick-notes:hover {
  background-color: rgba(51, 111, 94, 0.497);
  color: white;
}

.pick-notes.selected {
  background-color: rgba(27, 156, 102, 0.77);
  color: white;
  font-style: oblique;
}

.pick-octave-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: clamp(2rem, 5rem, 30%);
  border: 0.25rem solid rgba(93, 148, 125, 0.97);
  border-left: transparent;
  border: 0.25rem solid rgba(93, 148, 125, 0.97);
  border-left: transparent;
}

.pick-octave {
  height: calc(100% / 8);
  border: 1px solid black;
  background-color: rgba(93, 148, 125, 0.37);
  font-weight: bold;
}
.pick-octave:hover {
  background-color: rgba(51, 111, 94, 0.497);
  color: white;
}
.pick-octave.selected {
  background-color: rgba(27, 156, 102, 0.77);
  color: white;
  font-weight: bold;
  font-style: oblique;
}

.toolbar {
  display: flex;
  margin: 0.5rem;
  margin-bottom: 1rem;
  height: 2rem;
  padding: 0rem;
  border: 0px solid white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0rem 0rem 0.2rem 0.1rem rgba(93, 148, 125, 0.57);
  z-index: 1;
}

@keyframes flash {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes loaded {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.flashing {
  animation: flash 2s infinite;
}
