@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black; /* Light background */
  --foreground: #111827; /* Dark text */
}

/* Remove spinner controls in Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner controls in Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.no-select {
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.draggable {
  touch-action: none; /* Prevents touch scrolling during dragging */
  -webkit-user-drag: none; /* Prevents dragging behavior */
  user-select: none; /* Prevents accidental text selection */
}

.add-measure {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 46%;
}
.measure-label-child {
  display: flex;
  width: 45%;
  height: 2.25rem; /* Stack button wrappers */
  justify-content: space-between; /* Ensures equal spacing */
  align-items: center;
}

.measure-label-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0.5rem;
  width: 100%;
  min-width: 5rem;
  padding-bottom: 0.75rem;
}
.measure-display-parent {
  gap: 0rem;
  list-style: none;
  height: 100%;
  width: 100%;
  bottom: 0;
  display: flex column;
  font-size: 0.875rem;
  scrollbar-width: thin;
  scrollbar-color: #111827 #f3f4f6;
}

.note {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 3rem;
  max-width: 3rem;
  background-color: #1357ea;
  border: 1px solid black;
  color: white;
  font-size: 0.875rem;
  cursor: pointer;
}

.category-selection {
  border-radius: 0.25rem;
  padding: 0.125rem;
  background-color: rgba(57, 201, 133, 0.08);
  display: flex;
  flex-direction: column;
  gap: 0rem;
  margin-bottom: 0rem;
  border-bottom: 0.125rem solid rgba(42, 131, 94, 0.32);
  border-offset: -0.125rem;
}

.category-button {
  margin-right: 0.25rem;
  padding: 0rem 0.125rem;
  width: 8rem;
  background-color: rgba(155, 231, 199, 0.92);
  cursor: pointer;
  border: 0.125rem solid rgba(42, 131, 94, 0.42);
  border-offset: -0.125rem;
  border-radius: 5px;
  transition: background 0.6s;
  animation: loaded 1s ease-in 1;
}
.category-button-loading {
  margin-right: 0.25rem;
  padding: 0rem 0.125rem;
  background-color: rgba(203, 232, 220, 0.92);
  color: grey;
  cursor: pointer;
  border: 0.125rem solid rgba(123, 139, 133, 0.42);
  border-offset: -0.125rem;
  border-radius: 5px;
  transition: background 0.6s;
  animation: flash 2s infinite;
}

.category-button-loading.selected {
  margin-right: 0.25rem;
  padding: 0rem 0.125rem;
  background-color: rgba(98, 147, 237, 0.62);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 0.125rem solid rgba(123, 139, 133, 0.42);
  border-offset: -0.125rem;
  border-radius: 5px;
  transition: background 0.6s;
  animation: flash 2s infinite;
}

.category-button.selected {
  background-color: rgba(98, 147, 237, 0.92);
  color: white;
  font-weight: bold;
}

.instrument-selection {
  padding: 0.125rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.instrument-button {
  margin-right: 0.25rem;
  width: 8rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 0.125rem;
  background-color: #fff;
  border-radius: 0.25rem;
  transition: background 0.6s;
  animation: loaded 0.2s ease-in 1;
}

.instrument-button-loading {
  margin-right: 0.25rem;
  padding: 0rem 0.125rem;
  background-color: #ffffff53;
  color: grey;
  border-radius: 0.25rem;
  transition: background 0.6s;
  animation: flash 2s infinite;
}

.instrument-button.selected-instrument {
  background-color: #28a746c0; /* Green highlight for selected instrument */
  color: white;
  font-weight: bold;
}
.instrument-button-loading.selected-instrument {
  background-color: #28a7469d; /* Green highlight for selected instrument */
  color: white;
  font-weight: bold;
  animation: flash 2s infinite;
}

.instrument-button:hover {
  background-color: #e0e0e0;
}
.instrument-button.selected-instrument:hover {
  background-color: #28a765;
}

.instrument-dropdown {
  position: absolute;
  margin-right: 0.5rem;
  background-color: #fff;
  border: 0.125rem solid #111827;
}
@keyframes flash {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes loaded {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.flashing {
  animation: flash 2s infinite;
}
